* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('cloud\ pic.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background-color: #e5e6e8;
    color: rgb(50, 132, 191);
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #0082e6;
   height: 80px;
   width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight:bold;
}
nav ul {
    float: right;
margin-right: 20px;

}

nav ul li {

    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding:7px 13px;
    text-transform: uppercase;
    
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;

}