* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #76f5ee;
    background-image: url("cloud10.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {  width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (max-aspect-ratio:100/9.9){
    .background-clip{
        width: auto;
        height: 100%;
    }
    } 
    

h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 15px;
    color: #f2f5f8;
}

p {
    color: #fafbfc;
    font-size: 14px;
    margin-bottom: 20px;
}

.otp-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.btn {
    background-color: #004d99;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3395f8;
}

.container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    
}
