* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #00c4ff, #0062ff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.menu {
    position: absolute;
    top: 10px;
    left: 10px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
}

.container {
    text-align: center;
    width: 100%;
    padding-top: 50px;
}
.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (max-aspect-ratio:100/9.9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}   

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.icon {
    margin: 0 10px;
    text-align: center;
}

.icon img {
    width: 90px;
    height: 90px;
    border-radius: 70%;
    border: 2px solid white;
}

.icon p {
    margin-top: 5px;
    font-size: 15px;
    color: #fff;
}

.thank-you-text {
    font-size: 30px;
    font-weight: bold;
    color: #0d0c0c; 
    margin-bottom: 20px;
}

.logo img {
    width:200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}